:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  border-bottom: 1px solid var(--border-color-secondary);
  background-color: var(--bg-color-primary);

  &>div {
    display: flex;
    align-items: center;
    padding: 0 4px;
  }

  .left {
    grid-column: 1;
    justify-content: flex-start;

    img {
      margin: auto;
      height: 44px;
    }
  }

  .center {
    grid-column: 2;
    justify-content: center;

    mat-form-field {
      margin: auto;
      justify-content: center;
    }
  }

  .right {
    grid-column: 3;
    justify-content: flex-end;

    mat-icon {
      color: var(--border-color-primary);
      border: 1px solid var(--border-color-primary);
      border-radius: 50%;
    }
  }
}
