.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #000;

  &>div {
    display: flex;
    align-items: center;
    padding: 0 4px;
  }

  .left {
    grid-column: 1;
    justify-content: flex-start;

    img {
      margin: auto;
      height: 44px;
    }
  }

  .center {
    grid-column: 2;
    justify-content: center;
  }

  .right {
    grid-column: 3;
    justify-content: flex-end;

    mat-icon {
      --ui-purple: #fff;
      color: var(--ui-purple);
      border: 1px solid var(--ui-purple);
      border-radius: 50%;
    }
  }
}
