:host {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;

  app-topbar {
    grid-row: 1;
    grid-column: 1/-1;
  }

  mat-drawer-container {
    --mat-sidenav-container-background-color: var(--bg-color-terciary);
    grid-row: 2;
    background-color: var(--bg-color-secondary);
  }
}
