:host {
  height: 100%;
  width: 100%;
  color: #fff;

  section {
    margin: 2px 8px;

    h4 {
      margin-bottom: 4px;
    }

    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      padding-left: 4px;
    }
  }

}
